meta(charset="UTF-8")
link(rel='stylesheet', href='/stylesheets/home.css')
link(href="../css/mui.min.css",rel="stylesheet",type="text/css")
link(href="/css/iconfont.css",rel="stylesheet")
script(src="/javascripts/mui.min.js")