doctype html
html
    head
        link(href="../css/mui.min.css",rel="stylesheet")
        link(href="/css/iconfont.css",rel="stylesheet")
    body
        header(class=["mui-bar","mui-bar-nav",".mui-bar-transparent"])
            h1(class="mui-title") 贵民-网薪商城
        nav(class=["mui-bar","mui-bar-tab"])
            a(class=["mui-tab-item","mui-active"],data-index="0")
                span(class=["mui-icon","iconfont","icon-shangcheng"])
                span(class="mui-tab-label") 网薪商城
            a(class="mui-tab-item" data-index="1")
                span(class=["mui-icon", "iconfont", "icon-wodedingdan"])
                span(class="mui-tab-label") 我的订单
            a(class="mui-tab-item" data-index="2")
                span(class=["mui-icon", "iconfont", "icon-gerenzhongxin"])
                span(class="mui-tab-label") 个人中心
        script(src="/javascripts/mui.min.js")
        script(src="/javascripts/main.js")